---
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
	const pages = await getCollection("pages")
	return pages.map(page => ({
		params: { page: page.id },
		props: page,
	}))
}
const page = Astro.props
const { Content } = await render(page)
---

<Layout {...page.data} ogImage={page.data.ogImage?.src}>
	<main class="prose-lg prose-ul:list-disc prose-ol:list-decimal xl:prose-xl prose-blue">
		<Content />
	</main>
</Layout>
