---

---

<a href="/" title="Big Howo Kz" class="flex gap-3 items-center">
	<svg
		width="105"
		height="38"
    class="md:w-[105px] md:h-[38px] w-[70px]"
		viewBox="0 0 105 38"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M56.1117 1.9149V3.85354L34.0113 3.902L11.8866 3.9747L11.8139 5.9618L11.7412 7.97314L33.8659 8.0216L55.9905 8.0943L56.1117 9.96024L56.2329 11.8262L61.0795 9.03938C63.7451 7.48848 66.023 6.15567 66.1199 6.05873C66.2895 5.8891 64.0843 4.55629 57.5172 0.800186L56.1117 0.000499517V1.9149Z"
			fill="#3B302A"></path>
		<path
			d="M71.161 5.71948C70.9913 6.64033 70.3855 9.98447 69.8039 13.1832C69.2223 16.382 68.4226 20.7439 68.0349 22.8764L67.3322 26.7537L52.2835 26.8264L37.2349 26.8748L37.9619 28.2319C38.3496 28.9831 38.6646 29.8312 38.6646 30.1463C38.6646 31.576 36.9683 31.4791 60.4742 31.4791H81.9931L82.1627 30.4371C82.9624 25.6389 87.8575 22.9249 92.5344 24.6939C94.8365 25.5663 96.7509 27.9411 97.1871 30.4371L97.3568 31.4791H100.846C103.463 31.4791 104.336 31.4064 104.36 31.1641C104.36 31.0187 104.36 29.7828 104.336 28.4742C104.287 24.4758 103.197 23.143 98.8107 21.7617L96.2178 20.962L86.452 20.8893L76.6861 20.8166L76.7588 17.8359L76.8315 14.8795L84.1741 14.8068C88.1967 14.7826 91.4924 14.6614 91.4924 14.5403C91.4924 14.0071 90.5473 13.5467 89.4568 13.5467C88.4148 13.5467 88.1483 13.4255 86.8397 12.3351C83.9075 9.88754 80.0787 8.07007 76.6376 7.46425C75.6683 7.31885 74.7474 7.00382 74.602 6.80996C74.4324 6.59186 74.287 5.91334 74.287 5.25905V4.09587H72.8573H71.4275L71.161 5.71948ZM102.47 23.9184C104.094 25.3724 102.785 26.6325 101.016 25.2755C100.265 24.6939 99.9739 23.8215 100.386 23.3853C100.677 23.1187 101.937 23.4338 102.47 23.9184Z"
			fill="#D64E04"></path>
		<path
			d="M44.9165 14.3213L44.8438 16.0903L22.7433 16.163L0.618652 16.2114V18.1501V20.0887L22.7433 20.1372L44.8438 20.2099L44.9165 21.9546C44.9649 22.9239 45.0619 23.7236 45.1588 23.7236C45.2557 23.7236 46.2008 23.1905 47.2671 22.5605C48.3333 21.9304 50.4416 20.7187 51.944 19.8706C53.4222 19.0224 54.6581 18.247 54.6581 18.1501C54.6581 18.0289 54.028 17.5927 53.2768 17.1565C52.5014 16.7445 51.5563 16.1872 51.1443 15.9691C50.7566 15.751 49.2542 14.8786 47.8244 14.0789C46.4189 13.255 45.183 12.5765 45.1103 12.5765C45.0376 12.5765 44.9649 13.3762 44.9165 14.3213Z"
			fill="#D64E04"></path>
		<path
			d="M29.6979 25.6378C26.7172 26.5586 24.8755 29.2242 25.1663 32.2291C25.5298 36.1791 29.3101 38.7962 33.042 37.6331C34.7625 37.0999 36.7739 35.2098 37.1858 33.7558C38.1551 30.2662 36.5315 26.8736 33.357 25.7831C32.2181 25.3954 30.7156 25.347 29.6979 25.6378ZM33.3813 29.7573C33.9144 30.3632 34.0598 30.7509 34.0598 31.6718C34.0355 33.4165 33.042 34.3858 31.2245 34.3858C29.1405 34.3858 27.8561 32.1806 28.8497 30.2662C29.6979 28.6184 32.1211 28.3518 33.3813 29.7573Z"
			fill="#3E322C"></path>
		<path
			d="M87.3967 25.8804C84.3676 27.1406 82.8409 30.5089 83.786 33.7561C84.2222 35.2344 86.2335 37.1488 87.8571 37.6334C89.4565 38.1181 89.8685 38.1181 91.3952 37.6577C95.5875 36.4218 97.2111 31.1632 94.4727 27.7221C92.9218 25.7835 89.6504 24.9111 87.3967 25.8804ZM91.2013 29.2973C92.0737 29.8304 92.4614 30.6059 92.4614 31.8902C92.4614 32.5445 92.2675 32.9322 91.6375 33.5623C90.9347 34.265 90.6439 34.3862 89.6746 34.3862C88.7053 34.3862 88.4145 34.265 87.7117 33.5623C85.3612 31.2117 88.3418 27.5525 91.2013 29.2973Z"
			fill="#3E322C"></path>
		<path
			d="M15.7886 27.892C15.7159 28.4736 15.5947 29.5156 15.4978 30.1942L15.3281 31.4785H19.472H23.5916L23.737 30.4123C23.8339 29.8064 24.1731 28.8129 24.4882 28.1586C24.8274 27.5285 25.094 26.9712 25.094 26.9227C25.094 26.8985 23.0342 26.8743 20.514 26.8743H15.9339L15.7886 27.892Z"
			fill="#D54E05"></path>
	</svg>
	<span class="text-lg md:text-xl tracking-tight font-bold">Big Howo Kazakhstan</span>
</a>
