---

---

<a href="/" title="Big Howo Kz" class="flex gap-3 items-center">
	<svg
		width="121"
		height="45"
		viewBox="0 0 121 45"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M64.6915 2.2209V4.46987L39.0533 4.52609L13.3869 4.61043L13.3026 6.91562L13.2183 9.24893L38.8846 9.30515L64.551 9.38949L64.6915 11.5541L64.8321 13.7188L70.4545 10.4859C73.5468 8.68668 76.1894 7.14052 76.3018 7.02807C76.4986 6.83129 73.9404 5.28512 66.322 0.927746L64.6915 4.68045e-05V2.2209Z"
			fill="#3B302A"></path>
		<path
			d="M82.1494 6.63477C81.9526 7.70303 81.2498 11.5825 80.5751 15.2933C79.9004 19.0041 78.9727 24.0643 78.523 26.5381L77.7077 31.0361L60.2501 31.1204L42.7925 31.1766L43.6358 32.7509C44.0856 33.6224 44.4511 34.6063 44.4511 34.9718C44.4511 36.6304 42.4832 36.5179 69.752 36.5179H94.7155L94.9123 35.3091C95.84 29.7429 101.519 26.5944 106.944 28.6465C109.615 29.6586 111.836 32.4136 112.342 35.3091L112.539 36.5179H116.587C119.623 36.5179 120.635 36.4336 120.663 36.1525C120.663 35.9838 120.663 34.5501 120.635 33.032C120.579 28.3935 119.314 26.8474 114.225 25.245L111.217 24.3173L99.8882 24.2329L88.559 24.1486L88.6433 20.6908L88.7276 17.2611L97.2456 17.1768C101.912 17.1487 105.735 17.0081 105.735 16.8676C105.735 16.2491 104.639 15.715 103.374 15.715C102.165 15.715 101.856 15.5744 100.338 14.3094C96.9364 11.47 92.4947 9.36164 88.5028 8.65884C87.3783 8.49017 86.31 8.12471 86.1413 7.89981C85.9445 7.6468 85.7759 6.85966 85.7759 6.10064V4.75126H84.1173H82.4587L82.1494 6.63477ZM118.47 27.747C120.354 29.4337 118.836 30.8955 116.784 29.3212C115.912 28.6465 115.575 27.6345 116.053 27.1285C116.39 26.8193 117.852 27.1847 118.47 27.747Z"
			fill="#D64E04"></path>
		<path
			d="M51.7043 16.614L51.62 18.6662L25.9818 18.7505L0.31543 18.8067V21.0557V23.3047L25.9818 23.3609L51.62 23.4452L51.7043 25.4693C51.7606 26.5938 51.873 27.5215 51.9855 27.5215C52.0979 27.5215 53.1943 26.903 54.4312 26.1721C55.6682 25.4412 58.1139 24.0356 59.8569 23.0517C61.5717 22.0677 63.0054 21.1682 63.0054 21.0557C63.0054 20.9151 62.2745 20.4091 61.403 19.9031C60.5034 19.4252 59.4071 18.7786 58.9292 18.5256C58.4794 18.2726 56.7364 17.2606 55.0778 16.3329C53.4473 15.3771 52.0136 14.5899 51.9292 14.5899C51.8449 14.5899 51.7606 15.5176 51.7043 16.614Z"
			fill="#D64E04"></path>
		<path
			d="M34.0497 29.7424C30.5919 30.8106 28.4553 33.903 28.7927 37.3889C29.2144 41.9711 33.5999 45.0073 37.9291 43.6579C39.9251 43.0394 42.2584 40.8467 42.7363 39.1599C43.8608 35.1118 41.9773 31.1761 38.2946 29.9111C36.9733 29.4613 35.2304 29.405 34.0497 29.7424ZM38.3227 34.5214C38.9412 35.2242 39.1098 35.674 39.1098 36.7423C39.0817 38.7664 37.9291 39.8909 35.8207 39.8909C33.4031 39.8909 31.9131 37.3327 33.0657 35.1118C34.0497 33.2002 36.8609 32.8909 38.3227 34.5214Z"
			fill="#3E322C"></path>
		<path
			d="M100.985 30.0234C97.4706 31.4852 95.6995 35.3928 96.7959 39.1598C97.3019 40.8746 99.6352 43.0955 101.519 43.6577C103.374 44.22 103.852 44.22 105.623 43.6859C110.486 42.2521 112.37 36.1518 109.193 32.1599C107.394 29.9109 103.599 28.8989 100.985 30.0234ZM105.398 33.9872C106.41 34.6056 106.86 35.5052 106.86 36.9952C106.86 37.7542 106.635 38.204 105.904 38.9349C105.089 39.7502 104.752 39.8907 103.627 39.8907C102.503 39.8907 102.165 39.7502 101.35 38.9349C98.6232 36.208 102.081 31.9631 105.398 33.9872Z"
			fill="#3E322C"></path>
		<path
			d="M17.913 32.357C17.8287 33.0317 17.6881 34.2405 17.5757 35.0276L17.3789 36.5176H22.1861H26.9651L27.1338 35.2806C27.2463 34.5778 27.6398 33.4252 28.0053 32.6662C28.3988 31.9353 28.7081 31.2887 28.7081 31.2325C28.7081 31.2044 26.3186 31.1763 23.3949 31.1763H18.0817L17.913 32.357Z"
			fill="#D54E05"></path>
	</svg>
	<span class="text-xl tracking-tight font-bold">Big Howo</span>
</a>
